*{
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    max-width: 100%;
    margin: auto; 
}

.section-background {
    background-color: rgb(173, 173, 173);
    height: 12rem;
    border: 0.06rem solid transparent;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > div > h2 {
    margin-left: 1.5rem;
    font-size: 2.5rem;
}

header > div > nav {
    max-width: 35rem ;
    margin-left: 1.5rem;   
}

.btn {
    max-width: 15rem;
    border-radius: 1rem;
    background-color: rgb(109, 106, 106);
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.chapter {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  
}

#informations {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    font-size: 3rem; 
    max-width: 50%;
}


img {
    max-width: 100%;
    border: 0.5rem solid transparent;
}

section > div > div {
    text-align: center;
    font-size: 2rem;
}

footer > div > p {
    font-size: 1.6rem;
}

footer {
    text-align: center;
}

@media screen and (max-width:500px) {
   
    .container{
        max-width: 30rem;
    }

    header > div > nav {
        max-width: 30rem ;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .section-background {
        background-color: rgb(187, 187, 187);
        height: 100%;
        border: 0.1rem transparent;
        text-align: center;
    }

    #informations {
        display: block;
        text-align: center;
    }

    .btn {
        margin-bottom: 0.5rem;
    }

    footer > div.section-background {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .container{
        max-width: 50rem;
    }

    header > div > h2 {
        display: flex;
        justify-content: center;
        margin-left: 0;
        font-size: 2.5rem;
    }
    header > div > nav {
        margin: 0 auto;
    }

    main.flex-container {
        flex-direction: column;
        align-items: center;
    }
    
    #informations {
        display: block;
        text-align: center;
    }

    #first > div{
        flex-wrap:wrap ;
    }

    #first > div > div  {
        max-width: 50%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1366px) {
    
    .container{
        max-width: 80rem;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
    
    .container{
        max-width: 136.6rem;
    }
}

@media screen and (min-width: 1920px) {
    .container{
        max-width: 192rem;
    }

}

